/test-network/channel-artifacts/*.tx
/test-network/channel-artifacts/*.block
/test-network/ledgers
/test-network/ledgers-backup
/test-network/channel-artifacts/*.json
/test-network/org3-artifacts/crypto-config/*
/test-network/organizations/ordererOrganizations/*
/test-network/organizations/peerOrganizations/*
/test-network/system-genesis-block/*
/test-network/chaincode-artifacts/*
!/test-network/chaincode-artifacts/.gitkeep
/test-network/log.txt
/bin
/config
.DS_Store
/chaincode/node_modules
/test-network/*.tar.gz
/application/node_modules
/application/identities